<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="ui container" style="margin-top:50px">
      <div class="ui very padded center aligned segment">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ui labeled input">
              <div class="ui label">
                XML File
              </div>
              <input type="file" name="xmlfile" required id="id_xmlfile">
            </div> <br> <br>
            <input class="ui blue button" type="submit" name="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
